.hospital-body {
    height:100%;
    width:100%;
    background-color: yelllow;
}
.patient-doctor{
    padding-bottom:50px;
}

.marque{
    /* background-color: black; */
    font-size: 20px;
    font-style: italic;
    color: blue;
}
.footer{
    background-color: grey;
}